.profile-card {
    color: inherit !important;
    background-color: var(--my-dark-cyan) !important;
}

.form-section-title::after {
    content: "";

    display: block;
    margin-top: 10px;

    width: 40px;
    height: 4px;

    background-color: var(--my-red);
}

.profile-picture {
    width: 100%;
    max-width: 110px;
}
