:root {
    --bg-primary: #1f2a38;
    --fg-primary: #ffffff;
    --my-black: #000000;
    --my-teal: #51b3b7;
    --my-violet: #714a85;
    --my-blue: #407db1;
    --my-purple: #4c3276;
    --my-dark-purple: #42295c;
    --my-red: #d0636b;
    --my-cyan: #38707b;
    --my-dark-cyan: #2c4c64;
    --my-shadow: 10px 0px 15px 0px rgba(34, 60, 80, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;

    padding: 0;
    margin: 0;

    font-size: 16px;
    background-color: var(--bg-primary);
    color: var(--fg-primary);
}
